EOS_CONTRACT_NAME=eospixels
CONTRACT_PRIVATE_KEY=5KQwrPbwdL6PhXujxW37FSSQZ1JiwsST4cqQzDeyXtP79zkvFD3
EOS_NETWORK_PROTOCOL=http
EOS_NETWORK_HOST=127.0.0.1
EOS_NETWORK_PORT=8888
EOS_NETWORK_CHAINID=cf057bbfb72640471fd910bcb67639c22df9f92470936cddc1ade0e2f2e7dc4f
TESTER_NAME=tester
TESTER_PRIVATE_KEY=5KQwrPbwdL6PhXujxW37FSSQZ1JiwsST4cqQzDeyXtP79zkvFD3
