node_modules/
tmp/
*.wasm
*.wast
*.abi


logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.*.env
.env.*
!.env.template
.envrc

node_modules/
.cache-loader/
.vscode/

*.css.d.ts

*.wasm
*.wast
*.abi

build